*{
    --cor-link:#2099ac;
    --cor-link-hover:#2099ac;
  }
  body{
    font-family: sans-serif;
    line-height:1.5;
    max-width: 1024px;
    min-width:706px;
   
  }
  .container{
    max-width:800px;
    min-width: 500px;
    margin-block-end: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  h1{
   /* margin:10% 0 0 20%;*/
      text-align:center;
  }
  ul{
    list-style:none;
  }
  li.disabled{
    color:#999;
    display:none;
  }
   li h5{
    margin:1rem 0 0 0;
  }

  li a,
.line{
    text-decoration:none;
    list-style:none;
    color:var(--cor-link);
  }
  li a:hover{
    color:var(--cor-link-hover);
    font-weight:bold;
  }
  
  hr{
    color:var(--cor-link-hover);
  }


  #header{
    height: 200px;
  }
